<ion-view view-title="Activity">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div class="card">
                <div class="row">
                    <div class="col col-75"><strong>IDLY</strong><br/>$200</div>
                    <div class="col">
                        <i class="icon ion-clock"></i> just now
                    </div>
                    

                    <!-- <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> just now
                        </div>
                    </div> -->
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>
