<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="{{chat.name}}">
    <ion-nav-buttons side="secondary">
<!--       <button class="button">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <span>Check Cart</span>
      </button> -->
      
      <span class="glyphicon glyphicon-shopping-cart" ng-style="(ngCart.getTotalItems()>0)?{'color':'red'}:{'color':'grey'}"></span><ngcart-summary></ngcart-summary>
        <button type="button" class="btn btn-default"  ui-sref="checkcart">
          Go To Cart
        </button>
    </ion-nav-buttons>

<!--   <ion-content class="padding">
    <p>
      {{chat.lastText}}
    </p>
    <div class="row" ng-repeat="item in food_details">
        <span class="col col-20">

            <img ng-src="{{item.face}}" width="80%"/>
            <ngcart-addtocart id="{{item.id}}" name="{{item.name}}" price="{{item.price}}" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
        </span>
    </div>
  </ion-content> -->
              <ion-content>

                <div class="row responsive-md">                
                    <div class="col col-25" ng-repeat="item in food_details">
                        <img ng-src="{{item.face}}" width="80%"/>
                        <ngcart-addtocart id="{{item.id}}" name="{{item.name}}" price="{{item.price}}" quantity="1" quantity-max="5">Add to Cart</ngcart-addtocart>
                    </div>
                </div>
            </ion-content>
</ion-view>



<script type="text/ng-template" id="template/ngCart/addtocart.html"><div ng-hide="attrs.id">
    <a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>

</div>
<div ng-show="attrs.id">
    <div>
        <span ng-show="quantityMax">
            <select name="quantity" id="quantity" ng-model="q"
                    ng-options=" v for v in qtyOpt"></select>
        </span>
        <a class="btn btn-sm btn-primary"
           ng-click="ngCart.addItem(id, name, price, q, data)"
           ng-transclude></a>
    </div>
    <mark  ng-show="inCart()">
        This item is in your cart. <a ng-click="ngCart.removeItemById(id)" style="cursor: pointer;">Remove</a>
    </mark>
</div>
</script>
<script type="text/ng-template" id="template/ngCart/summary.html"><div class="row">
    <div class="col-md-6">{{ ngCart.getTotalItems() }}
    </div>
</script>



