<ion-view view-title="Menu" style="background-color: rgba(247, 232, 37, 0.28)">
    <ion-content ng-class="{expanded:isExpanded}">
        <div class="content has-header">
            <div class="list">
            <div ng-repeat="m in menu">
                    <a href="#/app/gallery/{{m.id}}" class="item item-avatar item-icon-right">
                        <img src="{{m.face}}">
                        <h2>{{m.name}}</h2>
                        <p>Da illest illegitimate</p>
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
