<ion-view view-title="{{menu.name}}">

    <ion-content ng-class="{expanded:isExpanded}">
        <div style="height:40px">&nbsp;</div>
        <div class="row responsive-sm">                
            <div class="col col-50" style="margin: 0px;" ng-repeat="item in food_details">
                <ngcart-addtocart id="{{item.id}}" name="{{item.name}}" price="{{item.price}}" quantity="1" quantity-max="5"><img ng-src="{{item.face}}" width="100%"/>

                    <div class="" style="position: relative;
                            font-size: 18px;
                            color: white;">{{item.name}}
                    </div>

                    <div class="" style="position: relative;
                            font-size: 16px;
                            padding-top:5px;
                            color: white;">&#8377;{{item.price}}
                    </div>

                </ngcart-addtocart>
            </div>
        </div>
    </ion-content>
</ion-view>

<script type="text/ng-template" id="template/ngCart/addtocart.html">
<div ng-show="attrs.id" style="position: relative; border: 6px solid #222;background-color: #222;">
    <div style="position: relative;">
        
        <a class="btn btn-sm btn-primary"
           ng-click="inCart()?ngCart.removeItemById(id):ngCart.addItem(id, name, price, q, data)"
           ng-transclude></a>
    </div>
<div>
<button id="fab-profile" class="button button-fab" nav-view="active" ng-style="inCart()?{
    '-moz-transform': 'rotate(45deg)',
    '-webkit-transform': 'rotate(45deg)',
    '-o-transform': 'rotate(45deg)',
    '-ms-transform': 'rotate(45deg)',
    'transform': 'rotate(45deg)'}
    :{'-moz-transform': 'rotate(0deg)',
    '-webkit-transform': 'rotate(0deg)',
    '-o-transform': 'rotate(0deg)',
    '-ms-transform': 'rotate(0deg)',
    'transform': 'rotate(0deg)'} " 
    style="transform: translate3d(0%, 0px, 0px);    
    position: absolute;
    top: 7%;
    font-size: 28px;
    pointer-events: none;
    right: 5%;"><i class="icon ion-plus"></i></button>
</div>

<div ng-show="ngCart.getItemById(id).getQuantity()>0" style="position: absolute;bottom: 6px;right: 5px;font-size: 22px;color: white;padding: 5px">
    <div style="display:inline" class="ion-minus-circled" ng-class="{'disabled':ngCart.getItemById(id).getQuantity()==1}"
        ng-click="ngCart.getItemById(id).setQuantity(-1, true)"></div><span>
    {{ ngCart.getItemById(id).getQuantity() | number }}</span>
    <div style="display:inline" class="ion-plus-circled" ng-click="ngCart.getItemById(id).setQuantity(1, true)"></div>
</div>




</div>
</script>
<script type="text/ng-template" id="template/ngCart/cartcount.html"><div style="    width: 100%;
    position: absolute;
    top: 25px;">
    {{ ngCart.getTotalItems() }}
    </div>
</script>
