<ion-view view-title="Track Order" align-title="left">
    <ion-content style="">
    <div class="content">
        <div class="row">
            <div class="col" style="text-align:center">ORDER ID <br/> 12345</div>
        </div>
        <div class="row">
            <div class="col" style="text-align:center">DELIVERY ADDRESS <br/> #6/1, Kempanna Road, MS Nagar, Bangalore-33</div>
        </div>
        <div class="row">
            <div class="col" style="text-align:center">ORDER STATUS</div>
        </div>
        <div class="row">
            <div class="col" style="text-align:center"><span>RECEIVED</span><br/><br/><i class="icon ion-chatbubble muted"></i></div> 
            <div class="col" style="text-align:center">COOKED</div>
            <div class="col" style="text-align:center">OFF TO YOU</div>
        </div>
    </div>
    </ion-content>
</ion-view>
