/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/crown.jpg') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-login {
    position: fixed;
    bottom: 0;
}


/*************************************************************
                        custom css
*************************************************************/
.pane, .view {
    background-color: #444;
}

.bar .button.back-button {
    margin-top: 35px;
}
.bar .title {
    color: #fff;
}
.card-item.item {
    margin: 0px;
    padding: 0px;
}

.item-divider {
    background-color: #222;
    color: #fff;
    font-weight: bold;
}
.card {
    border-radius: 4px;
    background-color: #444;
    box-shadow: none;
    color: #fff;
    border: 6px solid #222;
}

.row input {
    background-color: transparent;
    /*border-bottom: 1px solid #999;*/
    width: 98%;
    height: 28px;
    margin: 1% !important;
    color: white;
}

.list input {
    background-color: transparent;
    border-bottom: 1px solid #999;
    width: 98%;
    margin: 1% !important;
    color: white;
}
.header-item input {
    background-color: transparent;
    border-bottom: 1px solid #999;
    width: 98%;
    color: #999;
    margin: 0 0 0 4px !important;
    padding: 0px !important;
}
/*placeholder input text color*/
input::-webkit-input-placeholder {
    color:    #999;
}
input:-moz-placeholder {
    color:    #999;
}
input::-moz-placeholder {
    color:    #999;
}
input:-ms-input-placeholder {
    color:    #999;
}
/* anchor link*/
a, :focus, a:focus, a:active, a:hover, button:focus, button:active, button:hover {
    outline: 0px none;
    color: #999;
}

.button.button-assertive {
    border-color: #999;
    background-color: #333;
    color: #999;
}

.assertive-900-bg, .assertive-900-bg.activated, .assertive-900-bg:active, .assertive-900-bg:hover, .assertive-900-border, .assertive-900-border.activated, .assertive-900-border:active, .assertive-900-border:hover, .bar .button-assertive-900, .bar .button-assertive-900.activated, .bar .button-assertive-900:active, .bar .button-assertive-900:hover, .bar-assertive-900, .bar-assertive-900.activated, .bar-assertive-900:active, .bar-assertive-900:hover, .button-assertive-900, .button-assertive-900.activated, .button-assertive-900:active, .button-assertive-900:hover, .button-bar-assertive-900, .button-bar-assertive-900.activated, .button-bar-assertive-900:active, .button-bar-assertive-900:hover, .header-assertive-900, .header-assertive-900.activated, .header-assertive-900:active, .header-assertive-900:hover{
    background-color: #222;
    color: #FFF;
}
.item h2 {
    color: #ff9;
}


.deliver-amt, .deliver-time, .text-color-white{
    color: #fff;
}
.border-bottom-white{
    border-bottom:2px solid white;
}
.border-bottom-grey{
    border-bottom:2px solid #666;
}

/* Rating page*/
.rating{
  color: #666;
  margin: 0;
  padding: 0;
  font-size: 34px;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #E6E6E6;
}





